altgraph==0.16.1
asn1crypto==0.24.0
astroid==2.2.5
awscli==1.16.155
backports-abc==0.5
backports.functools-lru-cache==1.5
bdist-mpkg==0.5.0
bonjour-py==0.3
botocore==1.12.145
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==3.7.4
cryptography==3.2
docutils==0.14
enum34==1.1.6
Flask==1.0.2
futures==3.2.0
gunicorn==19.9.0
idna==2.8
ipaddress==1.0.22
isort==4.3.18
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
lazy-object-proxy==1.4.0
macholib==1.11
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
modulegraph==0.17
nose==1.3.7
numpy==1.16.0rc2
pandas==0.24.2
py2app==0.19
pyasn1==0.4.5
pycparser==2.19
PyJWT==1.7.1
pylint==2.3.1
pyobjc-core==5.2
pyobjc-framework-Accounts==5.2
pyobjc-framework-AddressBook==5.2
pyobjc-framework-AppleScriptKit==5.2
pyobjc-framework-AppleScriptObjC==5.2
pyobjc-framework-Automator==5.2
pyobjc-framework-CFNetwork==5.2
pyobjc-framework-Cocoa==5.2
pyobjc-framework-Collaboration==5.2
pyobjc-framework-CoreData==5.2
pyobjc-framework-CoreLocation==5.2
pyobjc-framework-CoreText==5.2
pyobjc-framework-DictionaryServices==5.2
pyobjc-framework-EventKit==5.2
pyobjc-framework-ExceptionHandling==5.2
pyobjc-framework-FSEvents==5.2
pyobjc-framework-InputMethodKit==5.2
pyobjc-framework-InstallerPlugins==5.2
pyobjc-framework-InstantMessage==5.2
pyobjc-framework-LatentSemanticMapping==5.2
pyobjc-framework-LaunchServices==5.2
pyobjc-framework-Message==5.2
pyobjc-framework-OpenDirectory==5.2
pyobjc-framework-PreferencePanes==5.2
pyobjc-framework-PubSub==5.2
pyobjc-framework-QTKit==5.2
pyobjc-framework-Quartz==5.2
pyobjc-framework-ScreenSaver==5.2
pyobjc-framework-ScriptingBridge==5.2
pyobjc-framework-SearchKit==5.2
pyobjc-framework-ServiceManagement==5.2
pyobjc-framework-Social==5.2
pyobjc-framework-SyncServices==5.2
pyobjc-framework-SystemConfiguration==5.2
pyobjc-framework-WebKit==5.2
pyOpenSSL==19.0.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
rsa==4.0
s3transfer==0.2.0
scipy==1.2.1
seaborn==0.9.0
singledispatch==3.4.0.3
six==1.12.0
tornado==6.0.2
urllib3==1.25.2
vboxapi==1.0
Werkzeug==0.15.2
wrapt==1.11.1
xattr==0.9.6
