.passenger-name {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 120%
}

.pickup-container {
  margin-left: 5%;
  margin-top: 5%
}

.pickup-button {
  background-color: white;
	border-radius: 5px;
  padding: 5px;
  font-family: "Ubuntu", sans-serif;
}

.passenger-pickup {
  margin-top: 4%
}

.start-pickup-label, .end-pickup-label {
  font-family: "Ubuntu", sans-serif;
  font-size: 150%;
  color: white;
  text-align: center
}

.end-pickup-label {
  margin-top: 10%
}

.start-pickup-label {
  margin-bottom: 8%
}