.panel-container {
	font-family: 'Montserrat', sans-serif;
}


.form-control {
	margin-bottom: 4%;
	border: 10px 0px 0px 0px solid;
	border-style: solid none none none;
    /*border-image-source: linear-gradient(45deg, rgb(232, 139, 109), rgb(232, 139, 109));*/
     /*border-image: linear-gradient(to left, #e6e6ff 0%, #d53a9d 100%);*/
    border-image-slice: 1;
}

.field-container {
	color: white;
}

.plusButton {
	border-radius: 12px;
	margin: auto;
	margin-top: 5%;
	border: none;
}

.map-view-container {
	width: 100%;
  	animation-duration: 3s;
	animation-delay: 1s;
}


.test {
	margin: 0;
}

h1 {
	font-weight: 700;
	font-size: 45px;
	animation-duration: 3s;
	animation-delay: 1s;
	color: black;
	text-decoration: underline;
	padding-top: 80px;
	}

.body {
	padding-left: 30px;
}

.left_side {
	width: 100%;
	height: 100vh;
	background-color: #212836;
	overflow: auto;
}

.right_side {
	padding: 0;
}

.submit-button-container {
	margin-top: 15%;
	margin-bottom: 5%;
	border: none;
}

.btn {
	background-color: white;
	border-style: none;
	color: white;
	border-radius: 15px
}

.start-address-container {
  margin-bottom: 2%
}

.end-address-container {
  margin-top: 8%
}

.container {
	position: relative;
}

.hex {
	/* position: absolute; */
	width: 200px;
	padding: 8% 0
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
/*  background-color: #5EAAF0;*/ 
  background-color: #bfbfbf;
  border-radius: 10px;
}

.form-control {
	border-top: 3px solid;
	border-image-source: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	border-top: 3px solid #00E38D;
	width: 90%;
	background-color: white;
}

.body {
	color: white;
}

.container>img {
	display: block;
	margin: auto;
	width: 50%;
}

.dots-container {
	margin-top: 2%
}

.dots {
	width: 2%;
	height: 2%
}