.panel-container, .btn {
	font-family: 'Ubuntu', sans-serif;
}

.submit-button {
	border-style: none;
	border-radius: 5px;
	padding: 5px;
}

.form-control {
	margin-bottom: 4%;
	border: 10px 0px 0px 0px solid;
	border-style: solid none none none;
    /*border-image-source: linear-gradient(45deg, rgb(232, 139, 109), rgb(232, 139, 109));*/
     /*border-image: linear-gradient(to left, #e6e6ff 0%, #d53a9d 100%);*/
    border-image-slice: 1;
}

.field-container {
	color: white;
}

.plusButton {
	border-radius: 12px;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 10%;
	border: none;
	font-size: 125%;
	padding: 0 10px
}

.map-view-container {
	width: 100%;
  	animation-duration: 3s;
	animation-delay: 1s;
}


.test {
	margin: 0;
}

.hex {
	
	animation-duration: 2s;
	animation-delay: 1s;
	
}

.body {
	padding-left: 30px;
}

.left_side {
	height: 100vh;
/*
	background-color: #212836;
*/
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(
      rgba(0, 0, 8, .865), 
      rgba(0, 0, 8, .865)
    ), url("./assets/map2.png");
	overflow: auto;
	width: 100%;
}

.right_side {
	padding: 0;
}

.submit-button-container {
	margin-top: 15%;
	margin-bottom: 8%;
	border: none;
}

.btn {
	border-style: none;
	border-radius: 15px
}

.start-address-container {
  margin-bottom: 2%
}

.end-address-container {
  margin-top: 8%
}

.hex-container {
	text-align: center
}

.hex {
	width: 200px;
	margin-top: 8%;
	margin-bottom: 4%
}

.hex:hover {
	cursor: pointer
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.form-control {
	border-top: 5px solid;
	border-image-source: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(83,83,236,1) 100%);
	border-top: 5px solid #00E38D;
	width: 100%;
	background-color: white;
}

.body {
	color: white;
	font-family: "Ubuntu", sans-serif;
}

.container>img {
	display: block;
	margin: auto;
	width: 50%;
}

.dots-container {
	margin: 8% 0
}

.dotsUp, .dotsDown {
	width: 4%;
	height: 4%
}

.start-end {
	color: white;
	margin-left: 3.5%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 100%
}

.spinner-container {
	text-align: center
}

#spinner {
	width: 15%
}

.bottom {
	background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(83,83,236,1) 100%);
	border-radius: 10px 10px 0px 0px;
	height: 5vh;
}
